.person{
    display: inline-block;
    text-align: center;
    background-color: lightgray;
    border-radius: 5px;
    width:320px;
}

.image{
    border-radius: 50%;
    box-shadow: #777279 1px 1px;
}

.green{
    background-color: lime;
    border-radius: 5px;
    width:90%;
margin-bottom: 10px;
}